html {
    width: 100%;
    height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font: 400 1em/1.38 Helvetica;
  color: #000;
} 


/* HEADER */
.chino-header {
  margin: 0 auto;
  padding: 3em 2em;
  text-align: center;
}

.chino-headertextthin h1 {
  margin: 0 auto;
  font-size: 3.75em;
  line-height: 1;
}

.chino-headertext h1 {
  margin: 0 auto;
  font-weight: 800;
  font-size: 3.75em;
  line-height: 1;
}

.chino-header h1 span {
  display: block;
  font-size: 50%;
  font-weight: 400;
  padding-top: 0.325em;
}


/*MARGINS*/
.margintop100 {
  margin: 100px auto 0;
}
.margintop90 {
  margin: 90px auto 0;
}
.margintop80 {
  margin: 80px auto 0;
}
.margintop70 {
  margin: 70px auto 0;
}
.margintop60 {
  margin: 60px auto 0;
}

.margintop50 {
  margin: 50px auto 0;
}

.margintop40 {
  margin: 40px auto 0;
}

.margintop30 {
  margin: 30px auto 0;
}

.margintop20 {
  margin: 20px auto 0;
}

.margintop10 {
  margin: 10px auto 0;
}

.marginbottom100 {
  margin-bottom: 100px;
}
.marginbottom90 {
  margin-bottom: 90px;
}
.marginbottom80 {
  margin-bottom: 80px;
}
.marginbottom70 {
  margin-bottom: 70px;
}
.marginbottom60 {
  margin-bottom: 60px;
}

.marginbottom50 {
  margin-bottom: 50px;
}

.marginbottom40 {
  margin-bottom: 40px;
}

.marginbottom30 {
  margin-bottom: 30px;
}

.marginbottom20 {
  margin-bottom: 20px;
}

.marginbottom10 {
  margin-bottom: 10px;
}

.marginleft100 {
  margin-left: 100px;
}

.marginleft90 {
  margin-left: 90px;
}

.marginleft80 {
  margin-left: 80px;
}

.marginleft70 {
  margin-left: 70px;
}

.marginleft60 {
  margin-left: 60px;
}

.marginleft50 {
  margin-left: 50px;
}

.marginleft40 {
  margin-left: 40px;
}

.marginleft30 {
  margin-left: 30px;
}

.marginleft20 {
  margin-left: 20px;
}

.marginleft10 {
  margin-left: 10px;
}
/*MARGINS*/




/*ALIGNMENTS*/
.textcenter {
   text-align: center;
}

.textleft {
   text-align: left;
}

.textright {
   text-align: right;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.maxouttoleft {
  margin-left: -50px;
}
.maxouttoright {
  margin-right: -50px;
}/*//ALIGNMENTS*/


/*Images*/
.imgcommercial {
  float: left;
  clear: both;
  width: 100%;
  height: 400px;
  background: url('../images/img.jpg') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.imgxxlarge {
  min-width: 200px;
  max-width: 1000px;
}

.imgxlarge {
  min-width: 200px;
  max-width: 800px;
}

.imglarge {
  min-width: 200px;
  max-width: 600px;
}

.imgmedium {
  min-width: 200px;
  max-width: 400px;
}

.imgsmall {
  min-width: 100px;
  max-width: 200px;
}/*//Images*/



/*Img Icons*/
.imgiconlarge {
display: inline-block;
margin-top: 20px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
max-width: 130px;
min-width: 90px;
text-align: center;
}

.imgiconlarge img{
margin-bottom: 8px;
}

.imgiconmedium {
display: inline-block;
margin-top: 20px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
max-width: 90px;
min-width: 90px;
text-align: center;
}

.imgicon img{
margin-bottom: 8px;
}

.imgiconsmall {
display: inline-block;
margin-top: 20px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
max-width: 90px;
min-width: 60px;
text-align: center;
}

.imgiconsmall img{
margin-bottom: 8px;
}/*//Img Icons*/




/*Media Devices*/
@media(max-width: 1200px) {



}

@media(max-width: 1024px) {
 


}

@media(max-width: 768px) {



}

@media(max-width: 768px) {



}/*///Media Devices*/



